
<%= stylesheet_link_tag "page_style", "data-turbo-track": "reload" %>  

<h2> Playlist Popularity Ranker</h2>
<br>

<form name = "playlistInput" action = "/" method = "post">
<label for="playlists">Choose one of your playlists:</label>

<select name="playlistInput" id="playlists" required>
<% @playlists.each_with_index do |pl, i|%>
    <option value = "<%=i.to_s%><%= pl.name %>" id = "<%= i %>">  <%= pl.name %> </option>
<% end %>

</select>

<%=submit_tag "Create Art" %>

</form>


<div id = "palette-container">

<% @recent_tracks.each_with_index do |track, i|%>
    <div id = "div<%=i%>"style="padding-left: -1em; background: rgb( <%=get_color(track.popularity)[0]%>,<%=get_color(track.popularity)[1]%>,<%=get_color(track.popularity)[2]%>);">
        <p><%=  track.name + " is "  + track.popularity.to_s %></p>
    <div>
    
<% end %>


</div>