

<form name = "playlistInput" action = "/" method = "post">
<label for="playlists">Choose one of your playlists:</label>

<select name="playlistInput" id="playlists" required>
<% @playlists.each_with_index do |pl, i|%>
    <option value = "<%=i.to_s%><%= pl.name %>" id = "<%= i %>">  <%= pl.name %> </option>
<% end %>

</select>

<%=submit_tag "Create Art" %>

</form>


<div>
<% @first.tracks.each do |track|%>
    <div style="width: 200px; background: rgb( <%= track.popularity%>, 100, 100);">
        <p><%=  track.name + " is "  + track.popularity.to_s %></p>
    <div>
    
<% end %>


</div>