<!DOCTYPE html>
<html>
  <head>
    <title>PPLApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "page_style", "data-turbo-track": "reload" %>  
    <%= javascript_importmap_tags %>

      <!-- google fonts -->
    <%= stylesheet_link_tag "application" ,"https://fonts.googleapis.com/css2?family=Lato&display=swap"%>
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  </head>

  <body>
    <%= yield %>
  </body>
</html>